{% extends 'base.html' %}

{% comment %}
Extend site-wide base HTML template located in main templates/ dir
(same level as manage.py)
{% endcomment %}

{% block title %}Chinook Albums List{% endblock title%}

{% block content %}

<h1>Albums</h1>

{% if albums %}
    <form action="{% url 'disks:album_list' %}" method="post">
        {% csrf_token %}
        {{ form }}
    </form>
    <ul>
    {% for album in albums %}
        <li><a href="{% url 'disks:album_details' album.id %}">{{ album.title }}</a> by {{ album.artist.name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No album available.</p>
{% endif %}

{% endblock content %}
